{% extends 'admin/base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block mainTitle %}
    {{ 'country.index.title'|trans }}
    {% include 'admin/partials/_table_action_link.html.twig' with {
        'actionPath': path('admin_country_new'),
        'action': 'new',
        'cssClass': 'actions-link'
    } %}
{% endblock %}

{% block table_header %}
    <th>{{ 'country.property.name'|trans({}, 'entity')}}</th>
    <th>{{ 'country.property.code'|trans({}, 'entity')}}</th>
    <th>{{ 'country.property.nationality'|trans({}, 'entity')}}</th>
    <th>{{ 'country.property.slug'|trans({}, 'entity')}}</th>
    <th>{{ 'country.property.url_flag'|trans({}, 'entity')}}</th>
{% endblock %}

{% block table_body %}
    {% for country in countries %}
        <tr>
            <td>{{ country.name }}</td>
            <td>{{ country.code }}</td>
            <td>{{ country.nationality }}</td>
            <td>{{ country.slug }}</td>
            <td>
                <img src="{{ country.urlFlag }}" alt="{{ country.nationality }}">
            </td>
            <td>
                <div class="d-flex">
                    {% include 'admin/partials/_table_action_link.html.twig' with {
                        'actionPath': path('admin_country_edit', {'id': country.id}),
                        'action': 'edit'
                    } %}
                    {% include 'admin/partials/_table_action_link.html.twig' with {
                        'actionPath': path('admin_country_show', {'id': country.id}),
                        'action': 'show'
                    } %}
                    {{ include('admin/country/_delete_form.html.twig') }}
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
{% endblock %}
