{% extends 'admin/base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block title %} Country Index {% endblock %}

{% block content %}
    <h1>Country index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Nationality</th>
                <th>Slug</th>
                <th>UrlFlag</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.code }}</td>
                <td>{{ country.name }}</td>
                <td>{{ country.nationality }}</td>
                <td>{{ country.slug }}</td>
                <td>{{ country.urlFlag }}</td>
                <td>
                    <a href="{{ path('app_country_show', {'id': country.id}) }}">show</a>
                    <a href="{{ path('app_country_edit', {'id': country.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_country_new') }}">Create new</a>
{% endblock %}
