
<div class="card-game">
    <a href="{{ path('app_game_show', {'id': game.id}) }}"><img src="{{ game.thumbnailCover }}"
            alt="Image de {{ game.name }}"
        ></a>
    <div class="d-flex justify-content-between">
        <p>{{ game.name }}</p>
        <span>{{ game.price }}€</span>
    </div>
</div>
