
<div class="card-review">
    <div class="row">
        {% for i in 1..review.rating %}
            <i class="fa-solid fa-star"></i>
        {% endfor %}
    </div>
    <a  class="text-decoration-none"
        href="{{ path('app_game_show', {'slug': review.game.slug}) }}"
    >
        {{ review.game.name }}
    </a>
    <p class="card-review-content">
        {% set max = 20 %}
        {% if review.content|length > max %}
            {{ review.content|slice(0, max) }}...
        {% else %}
            {{ review.content }}
        {% endif %}
    </p>
    <div class="mt-auto">
        <p class="mb-0">Le {{ review.createdAt|date('d/m/Y') }}</p>
        <a href="{{ path('app_user_show', {'name': review.user.name}) }}">
            <span>par {{ review.user.nickname }}</span>
        </a>
    </div>
</div>
