{% extends 'front/base.html.twig' %}

{% block title %}
    {{ 'security.login.title'|trans }}
{% endblock %}

{% block body %}

    <div class="container">
        <form method="post" class="col-8 mx-auto">
            <h1 class="h3 mb-3 font-weight-normal">
                {{ 'security.login.title'|trans }}
            </h1>
            <label for="username">
                {{ 'user.property.email'|trans({}, 'entity') }}
            </label>
            <input type="email" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>

            <label for="password" class="mt-4">
                {{ 'user.property.password'|trans({}, 'entity') }}
            </label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
            #}
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <button class="btn btn-primary mt-4" type="submit">
                {{ 'security.login.title'|trans }}
            </button>
        </form>
    </div>

{% endblock %}
