{% trans_default_domain 'admin' %}

<table class="table table-hover table-striped table-dark">
    <thead>
    <tr>
        <th>{{ 'game.property.name'|trans({}, 'entity')}}</th>
        <th>{{ 'game.property.thumbnailCover'|trans({}, 'entity')}}</th>
        <th>{{ 'game.property.price'|trans({}, 'entity')}}</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
            <td>
                <a class="text-decoration-none steamish-link"
                   target="_blank"
                   href="{{ path('app_game_show', {'slug': game.slug}) }}"
                >
                    {{ game.name }}
                </a>
            </td>
            <td>
                {% if game.thumbnailCover is not null %}
                    {{ 'utils.yes'|trans }}
                {% else %}
                    {{ 'utils.no'|trans }}
                {% endif %}
            </td>
            <td>{{ game.price }}€</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
