<h1 class="my-3">
    {% if action !== 'index' %}
        <a href="{{ path('admin_' ~ entity|className ~ '_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
    {% endif %}
    {{ entity|className }} {{ entity.name }}
    {% if action === 'show' %}
        <a href="{{ path('admin_' ~ entity|className ~ '_edit', {slug: entity.slug}) }}"><i class="fa-solid fa-pen"></i></a>
    {% endif %}
    {% if action === 'index' %}
        <a href="{{ path('admin_category_new') }}"><i class="fa-solid fa-square-plus"></i></a>
    {% endif %}
</h1>
