
{% extends 'front/base.html.twig' %}

{% block title %}
    {% if app.locale == 'ca' %}
        {{ 'category.show.title.reverse'|trans({'%%categoryName%': category.name}) }}
    {% else %}
        {{ 'category.show.title.main'|trans({'%%categoryName%': category.name}) }}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row game-show-container">
            <div class="col-md-6 col-12">
                <img class="front-image" alt="{{ 'category.show.image_alt'|trans({'%categoryName%': category.name}) }}" src="{{ category.image }}">
            </div>
            <div class="col-md-6 col-12 game-show-infos mt-md-0 mt-4">
                <h1 class="mt-4">{{ category.name }}</h1>
            </div>

        </div>
    </div>


{% endblock %}

