{% extends 'admin/base.html.twig' %}

{% block mainTitle %}
    {% include 'admin/partials/navigation.html.twig' with {entity: publishers[0], action: 'index'} %}
{% endblock %}

{% block body %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Website</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publisher in publishers %}
            <tr>
                <td>{{ publisher.id }}</td>
                <td>{{ publisher.createdAt ? publisher.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ publisher.name }}</td>
                <td>{{ publisher.slug }}</td>
                <td>{{ publisher.website }}</td>
                <td>
                    {% include 'admin/partials/actionButtonsSED.html.twig' with {type: 'publisher', slug: publisher.slug} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
