{% extends './front/base.html.twig' %}

{% block title %}
	{{ publisher.name }}
	- Steam Ish
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ publisher.name }}</h1>
		<p>{{ publisher.website }}</p>
		<img src="{{ publisher.country.urlFlag }}" alt="{{ publisher.country.name }}">


	</div>
{% endblock %}
