{% extends 'front/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {{ 'category.form.title'|trans }}
{% endblock %}


{% block body %}
    <div class="container mt-5">
        <h1 class="text-center"> Modifier la catégorie: {{ category.name }}</h1>
        <section class="col-6 mx-auto justify-content-center">
            {{ form_start(form) }}
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
            <button class="btn btn-primary" type="submit" >
                {{ 'button.valid'|trans}}
            </button>
            <button class="btn btn-danger" type="reset">
                {{ 'button.cancel'|trans}}
            </button>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}
