{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

    {% block title %}
        {% if isEdit %}Formulaire de modification de {{ category.name }}
        {% else %}Formulaire de création de catégorie
        {% endif %}{% endblock %}
    {% block mainTitle %}{% include 'admin/partials/navigation.html.twig' with {routeName: 'admin_categories', } %}
        {% if isEdit %}Formulaire de modification de {{ category.name }}
        {% else %}Formulaire de création de catégorie
        {% endif %}{% endblock %}


{% block body %}
    <div class="container py-4">
        <div class="col-6 offset-2">
            {{ form_start(form) }}
            {{ form_row(form) }}
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" type="submit">
                    {{ 'button.confirm' | trans({}, 'component') }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
