{% extends 'admin/base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block mainTitle %}
    {{ "category.index.title"|trans }}
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table table-hover table-striped table-dark">
            <tr>
                <th>{{ "category.index.table.name"|trans }}</th>
                <th>{{ "category.index.table.image"|trans }}</th>
                <th>{{ "category.index.table.slug"|trans }}</th>
                <th>{{ "category.index.table.games_number"|trans }}</th>
                <th>{{ "category.index.table.actions"|trans }}</th>
            </tr>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>
                            {% if category.image is null %}
                                {{ "category.index.table.no"|trans }}
                            {% else %}
                                {{ "category.index.table.yes"|trans }}
                            {% endif %}
                        </td>
                        <td>{{ category.slug }}</td>
                        <td>{{ category.games.count }}</td>
                        <td>
                            <a href="{{ path('admin_category_edit',{slug: category.slug }) }}" class="fa-solid fa-pen-alt text-decoration-none"></a>
                            <a href="{{ path('admin_category_show',{slug: category.slug }) }}" class="fa-solid fa-eye text-decoration-none text-success"></a>
                            <a href="{{ path('admin_category_delete',{slug: category.slug }) }}" class="fa-solid fa-trash text-decoration-none text-danger"></a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}
