{% extends 'admin/base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block table_content %}
{% endblock %}

{% block mainTitle %}
    {{ category.name }} - <span class="text-light" title="{{ 'category.property.slug'|trans({}, 'entity') }}">{{ category.slug }}</span>
    {% include 'admin/partials/_table_action_link.html.twig' with {
        'actionPath': path('admin_category_index'),
        'action': 'index',
        'cssClass': 'actions-link'
    } %}
    {% include 'admin/partials/_table_action_link.html.twig' with {
        'actionPath': path('admin_category_edit', {'slug': category.slug}),
        'action': 'edit',
        'cssClass': 'actions-link'
    } %}
{% endblock %}

{% block content %}

    {% if category.image is not null %}
        <img class="img-fluid" src="{{ asset(category.image) }}" alt="{{ category.name }}">
    {% endif %}

    <h2>{{ 'category.property.games'|trans({}, 'entity') }}</h2>

    {% include 'admin/partials/_partial_games.html.twig' with {
        'games': category.games
    } %}

{% endblock %}

