{% extends 'front/base.html.twig' %}

{% block title %}
    {% if app.locale == 'ca' %}
        {{ 'game.show.title_reverse'|trans({'%gameName%': game.name}) }}
    {% else %}
        {{ 'game.show.title'|trans({'%gameName%': game.name}) }}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row game-show-container">
            <div class="col-6">
                <img alt="Jeux {{ game.name }}" src="{{ game.thumbnailCover }}">
            </div>
            <div class="col-6 game-show-infos">
                <h1 class="mt-4">{{ game.name }}</h1>
            </div>
        </div>
    </div>

{% endblock %}
