{% extends 'front/base.html.twig' %}

{% block title %}
    {% if app.locale == 'ca' %}
        {{ 'game.show.title.reverse'|trans({'%gameName%': game.name}) }}
    {% else %}
        {{ 'game.show.title.main'|trans({'%gameName%': game.name}) }}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row game-show-container">
            <div class="col-md-6 col-12">
                <img class="front-image" alt="{{ 'game.show.thumbnail_cover_alt'|trans({'%gameName%': game.name}) }}" src="{{ game.thumbnailCover }}">
            </div>
            <div class="col-md-6 col-12 game-show-infos mt-md-0 mt-4">
                <h1 class="mt-4">{{ game.name }}</h1>
                <div class="mt-4">
                    <p>{{ 'game.show.available'|trans }}</p>
                    {% for country in game.countries %}
                        <img class="img-fluid" src="{{ country.urlFlag }}" alt="{{ 'game.show.country.alt'|trans({'%name%': country.nationality}) }}">
                    {% endfor %}
                </div>
                <div class="mt-4">
                    {% for category in game.categories %}
                        <span class="game-show-category">{{ category.name }}</span>
                    {% endfor %}
                </div>
                {% if game.publisher is not null %}
                    <div class="mt-4">
                        <p>{{ 'game.show.publisher'|trans({'%name%': game.publisher.name}) }}</p>
                    </div>
                {% endif %}
                <div class="mt-4">
                    <p>{{ 'game.show.published_at'|trans({'%date%': game.publishedAt|date('d/m/Y')}) }}</p>
                </div>
                <p class="mt-4 game-show-price">{{ game.price }}€</p>
            </div>
        </div>

        {% if similarGames|length > 0 %}
            <section class="mt-5">
                {% include 'front/partials/_game_loop.html.twig' with {
                    'games': similarGames,
                    'title': 'game.show.title.similar_games'|trans
                } %}
            </section>
        {% endif %}

        <section class="mt-5">
            <h2>{{ 'game.show.title.description'|trans }}</h2>
            <div class="w-100">
                {{ game.description|raw }}
            </div>
        </section>

        <section class="mt-5">
            <h2>{{ 'game.show.title.new_review'|trans }}</h2>
            {% if form is not null %}
                {% include 'common/_form_.html.twig' %}
            {% else %}
                <a href="{{ path('app_login') }}"
                   class="text-decoration-none steamish-link"
                >
                    {{ 'game.show.title.login'|trans }}
                </a>
            {% endif %}
        </section>

        {% if game.reviews|length > 0 %}
            <section class="mt-5">
                <h2>{{ 'game.show.title.reviews'|trans }}</h2>
                <div class="row">
                    {% for review in game.reviews %}
                        <div class="col-lg-3 col-md-4 col-12 p-2">
                            {% include 'front/partials/_review_card.html.twig' with {
                                'hasGameLink': false,
                                'max': 120
                            } %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>

{% endblock %}
