<nav class="navbar navbar-dark z-3 pb-4 border-bottom border-2 border-dark position-relative top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path("app_home") }}">
            Steam Ish
        </a>
        {% if app.user is null %}
            <a class="navbar-brand" href="{{ path("app_login") }}">{{ "header.login"|trans }}</a>
            <a class="navbar-brand" href="{{ path("app_register") }}">{{ "header.inscription"|trans }}</a>
        {% else %}
            <a class="navbar-brand" href="{{ path("app_user_show", {'name': app.user.name}) }}">{{ "header.account"|trans }}</a>
            {% if is_granted("ROLE_ADMIN") %}
                <a class="navbar-brand" href="{{ path("admin_category_new") }}">{{ "header.create_category"|trans }}</a>
            {% endif %}
            <a class="navbar-brand" href="{{ path("app_logout") }}">{{ "header.logout"|trans }}</a>
        {% endif %}
    </div>
</nav>

<hr class="text-danger">
