<ul class="list-group">
	<a href="{{path("app_home") }}">
		<li class="list-group-item">Home</li>
	</a>
	<a href="{{path("admin_dashboard") }}">
		<li class="list-group-item">
			Index
		</li>
	</a>
	<a href="{{ path("admin_category_index") }}">
		<li class="list-group-item selected">Categories</li>
	</a>

	<a href="{{path("admin_game_index") }}">
		<li class="list-group-item">
			Games
		</li>
	</a>

	<a href="{{path("admin_publisher_index") }}">
		<li class="list-group-item">
			Publishers
		</li>
	</a>


	<li class="list-group-item">reviews</li>

	<li class="list-group-item">countries</li>

</ul>
