{% extends 'front/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {{ 'register.title'|trans }}
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <section class="col-md-6 col-12 mx-auto">
            {{ form_start(form) }} {# <form> #}
                {% for child in form %}
                    {{ form_row(child) }}
                {% endfor %}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary mt-2 me-4" type="submit">
                        {{ 'button.valid'|trans({}, 'component') }}
                    </button>
                    <button class="btn btn-warning mt-2" type="reset">
                        {{ 'button.reset'|trans({}, 'component') }}
                    </button>
                </div>
            {{ form_end(form) }} {# </form> #}
        </section>
    </div>

{% endblock %}
