{% extends 'front/base.html.twig' %}

{% block title %}
    Profil de {{ user.name }} !
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="d-flex justify-content-around">
            <h1>{{ user.name }}</h1>
            {% if isMe %}
                <div>
                    <button class="btn btn-warning py-2" data-toggle-form>
                        <i class="fa-solid fa-pen-alt"></i>
                    </button>
                </div>
            {% endif %}
        </div>

        <section class="mt-4" data-profile-form>
            {% if form is not null %}
                {% form_theme form 'bootstrap_5_layout.html.twig' %}

                {{ form_start(form) }} {# <form> #}
                    {% for child in form %}
                        {{ form_row(child) }}
                    {% endfor %}

                    {% include 'common/_buttons_form.html.twig' %}
                {{ form_end(form) }} {# </form> #}
            {% endif %}
        </section>

        <section>

        </section>

        <section>
            <h2>Ses jeux</h2>
            <p>Temps de jeu total : {{ user.totalGameTime|time_conversion }}</p>

            {% for uog in user.userOwnGames %}
                <h2>{{ uog.game.name }}</h2>
                <strong>{{ uog.gameTime|time_conversion }}</strong>
            {% endfor %}
        </section>
    </div>

{% endblock %}
