{% extends 'front/base.html.twig' %}

{% block title %}
    Profil de {{ user.name }} !
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
        {% for uog in user.userOwnGames %}
            <div class="col-6">
            <img src="{{ uog.game.thumbnailCover }}" class="">
            <h2>{{ uog.game.name }}</h2>
            <strong>{{ uog.gameTime|time_conversion }}</strong>
                <strong>{{ gameTime }}</strong>

            </div>
        {% endfor %}

        </div>
    </div>

{% endblock %}
