{% extends 'front/base.html.twig' %}

{% block title %}
    Profil de {{ user.name }} !
{% endblock %}

{% block body %}

  <div class="m-2">
      <h1>{{ user.nickname }}</h1>
      <div>Inscrit en {{ user.createdAt|date("d/m/y") }}</div>
  </div>

    <div class="container">
       <div class="row">
           {% for uog in user.userOwnGames %}
               <div class="col-4 card-game ">
                   <img src="{{ uog.game.thumbnailCover }}" >
                   <h2>{{ uog.game.name }}</h2>
                   <strong>{{ uog.gameTime|time_conversion }}</strong>
               </div>
           {% endfor %}

       </div>
    </div>

    <div>
        <h3>Temps de jeu total : {{ total|time_conversion }} </h3>
    </div>



{% endblock %}
