{% extends './admin/base.html.twig' %}


{% block body %}
	<div class="d-flex justify-content-between align-items-center m-2">

		<h1>Game index</h1>
		{% include './admin/component/actionButton.html.twig' with {
                    'pathAction': path('admin_game_new'),
                    'action': 'add',
                    'class': 'btn btn-success mb-3',
                    } %}
	</div>
	<table class="table table-hover table-striped table-dark">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Description</th>
				<th>PublishedAt</th>
				<th>ThumbnailCover</th>
				<th>Slug</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for game in games %}
				<tr>
					<td>{{ game.id }}</td>
					<td>{{ game.name }}</td>
					<td>{{ game.price }}</td>
					<td>{{ game.description|slice(0, 20) ~ '...' }}</td>
					<td>{{ game.publishedAt ? game.publishedAt|date('Y-m-d') : '' }}</td>
					<td>{{ game.thumbnailCover }}</td>
					<td>{{ game.slug }}</td>
					<td>
						{% include './admin/component/actionButton.html.twig' with {
                    'pathAction': path('admin_game_edit', { id: game.id }),
                    'action': 'edit',
                    } %}
						{% include './admin/component/actionButton.html.twig' with {
                    'pathAction': path('admin_game_show', { id: game.id }),
                    'action': 'show',
                    } %}
						{% include './admin/component/actionButton.html.twig' with {
                    'pathAction': path('admin_game_delete', { id: game.id }),
                    'action': 'delete',
                    } %}

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
