{# filepath: /home/brice/code/2026-poei-symfony/templates/admin/game/index.html.twig #}
{% extends './admin/base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<div class="d-flex justify-content-between align-items-center">
			<h1>Games</h1>
			{# <a href="{{path('admin_game_add')}}" class="btn btn-success mb-3">
																			<i class="fas fa-plus"></i>
																		</a> #}
		</div>


		<div class="row">
			<div class="col-12">
				<table class="table table-hover table-striped table-dark">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Slug</th>
							<th scope="col">Price</th>
							<th scope="col">PublishedAt</th>
							<th scope="col">HasAnImage</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for game in games %}
							<tr>
								<td>{{ game.name }}</td>
								<td>{{ game.slug }}</td>
								<td>{{ game.price }}</td>
								<td>{{ game.publishedAt|date('Y-m-d') }}</td>
								<td>
									{% if game.thumbnailCover %}

										yes
									{% else %}
										no
									{% endif %}
								</td>


								<td>
									{% include './admin/component/actionButton.html.twig' with {'name': 'game'} %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
