{% extends './front/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Register
{% endblock %}


{% block body %}

	<div class="container mt-5 w-50">
		{{ form_start(form) }}
		{{ form_row(form.email) }}
		{{ form_row(form.name) }}
		{{ form_row(form.country) }}
		{{ form_row(form.nickname) }}
		{{ form_row(form.profileImage) }}
		{{ form_row(form.password) }}
		<div class="d-flex justify-content-end align-items-center gap-3">
			<button type="submit" class="btn btn-primary">Register</button>
			<button type="reset" class="btn btn-warning">Reset</button>
		</div>
		{{ form_end(form) }}
	</div>


{% endblock %}
